
#nostat
{
    background-color: #454545;
    color:gray;
    font-size: 10pt;
}
#playerName
{
    font-size: 10.2pt;
    color: white;
    background-color: #454545;
    border-radius: 0px;
}
#index
{
    color:gray;
    font-size: 10pt;
    font-weight: bold
}
#wins, #loses, #wr, #wins, #loses, #wr, #gameKDA, #gameExpGold
{
    font-size: 8pt;
    font-weight: bold
}
#loses,#loses
{
    color: red;
}
#wins, #wins
{
    color: green;
}
#gameKDA, #gameExpGold
{
    color: #d3d3d3;
}